<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЭЖД</title>
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('.static', filename='images/favicon-96x96.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/fontello.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/styles_for_markpage.css')}}">
</head>

<body style='overflow-x:hidden;'>
<div class="wrap">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="notCollapseFirst">
                    <img src="{{url_for('.static', filename='images/logo.png')}}" alt="logo">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="notCollapseSecond order-lg-1">
                    <ul class="navbar-nav right-nav">
                        <li class="nav-item">
                            <a href="#" class="bell">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="32" fill="currentColor"
                                     class="bi bi-bell-fill" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="avatar text-center" data-bs-toggle="modal" data-bs-target="#profileModal">
                                <img src="{{url_for('.userava')}}" alt="" class="avatar-img">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse order-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0 collapse-left">
                        <li class="nav-item">
                            <a class="nav-link" href="./">
                                <h5>Главная страница</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active disabled" href="#">
                                <h5>Домашняя работа</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./marks">
                                <h5>Успеваемость</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./lessons">
                                <h5>Расписание</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="homework-table">
        <div class="container">
            {% for item in homework.keys() %}
            <div class="homework-label mb-3">
                <h2>Домашняя работа на {{ item }}</h2>
                <div class="accordion" id="accodion{{x}}">
                    {% for x in range(homework[item]|length()) %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="collapseHeading{{item}}_{{x}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsePanel{{item}}_{{x}}" aria-expanded="false"
                                    aria-controls="collapsePanel{{item}}_{{x}}">
                                {{homework[item][x][0]}}
                            </button>
                        </h2>
                        <div id="collapsePanel{{item}}_{{x}}" class="accordion-collapse collapse"
                             aria-labelledby="collapseHeading{{item}}_{{x}}">
                            <div class="accordion-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-9 accordion-text">
                                            {{homework[item][x][1]}}
                                        </div>
                                        <div class="col-3 text-center accordion-files">
                                            <h5>Приложенные файлы</h5>

                                            <a download href="static\txt_files\{{homework[item][x][2]}}"
                                               class="btn btn-primary">
                                                {{homework[item][x][2]}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a href="#"><i class="icon-vkontakte"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-paper-plane"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-github-circled"></i></a>
                <a href="#"><i class="icon-youtube-play"></i></a>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ваш профиль</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="profile-modal">
                    <div class="avatar-change mb-3 text-center">
                        <img src="{{url_for('.userava')}}" alt="" class="profile-avatar">
                        <form action="{{url_for('.upload')}}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Загрузить">
                        </form>
                    </div>

                    <div class="mb-3">
                        <p>ФИО:</p>
                        <p>{{ data['surname'] }} {{ data['name'] }} {{ data['patronymic'] }}</p>
                    </div>
                    <hr>
                    <div>
                        <p>Логин: {{data['username']}}</p>
                    </div>
                    <hr>
                    <div class="">
                        <p>Пароль: ***********</p>
                    </div>
                    <hr>
                    <div class="">
                        <p>Почта: {{ data['email'] }}</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-8 offset-2">
                            <a class="btn btn-warning" href="./changes">Внести изменения</a>
                            <a class="btn btn-danger" href="./logout">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('.static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/homework.js')}}"></script>

</body>
</html>