<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЭЖД</title>
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('.static', filename='images/favicon-96x96.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/fontello.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/styles_for_main.css')}}">
</head>
<body style='overflow-x:hidden;'>
<div class="wrap">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="notCollapseFirst">
                    <img src="{{url_for('.static', filename='images/logo.png')}}" alt="logo">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="notCollapseSecond order-lg-1">
                    <ul class="navbar-nav right-nav">
                        <li class="nav-item">
                            <a href="#" class="bell">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="32" fill="currentColor"
                                     class="bi bi-bell-fill" viewBox="0 0 16 16">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="avatar text-center" data-bs-toggle="modal" data-bs-target="#profileModal">
                                <img src="{{url_for('.userava')}}" alt="" class="avatar-img">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse order-lg-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0 collapse-left">
                        <li class="nav-item">
                            <a class="nav-link active disabled" aria-current="page">
                                <h5>Главная страница</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./homework">
                                <h5>Домашняя работа</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./marks">
                                <h5>Успеваемость</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./lessons">
                                <h5>Расписание</h5>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="date_bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 calendar">
                    <form action="./" method="get">
                        <p class="text-uppercase text-center">выберите дату</p>
                        <input type="date" name="calendar" value="2022-09-01"
                               max="2023-05-28" min="2022-09-01">
                        <input type="submit" value="Вывести" class="btn btn-primary date-submit">
                    </form>
                </div>
                <div class="col-lg-6 offset-lg-1 second-col">
                    <form action="./" method="get">
                        <div class="btn-group bar" role="group" aria-label="Basic outlined example">
                            <button type="submit" class="btn btn-outline-primary" name="date_btn" value="{{left}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                </svg>
                            </button>
                            <button type="submit" class="btn btn-outline-primary {{activate[0]}}"
                                    value="{{days[0]}}" name="date_btn">
                                <span class="date-button day-week">ПН</span>
                                <span class="date-button">{{days[0][8:]|int()}}</span>
                            </button>
                            <button type="submit" class="btn btn-outline-primary {{activate[1]}}"
                                    value="{{days[1]}}" name="date_btn">
                                <span class="date-button day-week">ВТ</span>
                                <span class="date-button">{{days[1][8:]|int()}}</span>
                            </button>
                            <button type="submit" class="btn btn-outline-primary {{activate[2]}}"
                                    value="{{days[2]}}" name="date_btn">
                                <span class="date-button day-week">СР</span>
                                <span class="date-button">{{days[2][8:]|int()}}</span>
                            </button>
                            <button type="submit" class="btn btn-outline-primary {{activate[3]}}"
                                    value="{{days[3]}}" name="date_btn">
                                <span class="date-button day-week">ЧТ</span>
                                <span class="date-button">{{days[3][8:]|int()}}</span>
                            </button>
                            <button type="submit" class="btn btn-outline-primary {{activate[4]}}"
                                    value="{{days[4]}}" name="date_btn">
                                <span class="date-button day-week">ПН</span>
                                <span class="date-button">{{days[4][8:]|int()}}</span>
                            </button>
                            <button type="submit" class="btn btn-outline-primary {{activate[5]}}"
                                    value="{{days[5]}}" name="date_btn">
                                <span class="date-button day-week">СБ</span>
                                <span class="date-button">{{days[5][8:]|int()}}</span>
                            </button>
                            <button type="submit" class="btn btn-outline-primary {{activate[6]}}"
                                    value="{{days[6]}}" name="date_btn">
                                <span class="date-button day-week">ВС</span>
                                <span class="date-button">{{days[6][8:]|int()}}</span>
                            </button>
                            <button type="submit" class="btn btn-outline-primary" value="{{right}}" name="date_btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                                </svg>
                            </button>
                            <a href="./">Сегодня</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="lessons">
        <div class="container lesson-table">
            <div class="row lessons-menu">
                <div class="col-lg-10 offset-lg-1">
                    {% for x in range(timetable|length) %}
                    <div class="row lesson-info" data-bs-toggle="modal" data-bs-target="#lessonModal{{x}}">
                        <div class="col-2">
                            <div class="les-num">
                                <span>Урок</span><span>{{x + 1}}</span>
                            </div>
                            <div class="les-time">
                                {{timetable[x][1]}}
                            </div>
                        </div>
                        <div class="col-10">
                            <h2 class="text-center">{{timetable[x][0]}}</h2>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <a href="#"><i class="icon-vkontakte"></i></a>
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-paper-plane"></i></a>
                <a href="#"><i class="icon-facebook"></i></a>
                <a href="#"><i class="icon-github-circled"></i></a>
                <a href="#"><i class="icon-youtube-play"></i></a>
            </div>
        </div>
    </div>
</footer>

<div id="l_info" class="mod_body">
    <a class="mod_body" onclick="hide_l()"></a>
    <div id="l_info_cont" class="modal_les">
        <svg class="cross" onclick="hide_l()" width="10" height="10" viewBox="0 0 10 10"
             xmlns="http://www.w3.org/2000/svg">
            <line x1="0" y1="10" x2="10" y2="0" stroke-width="2" stroke="white"/>
            <line x1="0" y1="0" x2="10" y2="10" stroke-width="2" stroke="white"/>
        </svg>
        <p class="txt">Тема урока: десятичные дроби</p>
        <hr class="break">
        <p class="txt">Оценки за урок:</p>
        <ul class="l_mark_area">
            <li class="l_mark tip" data-text="контрольная работа 11.03.2022">5</li>
        </ul>
        <hr class="break">
        <p class="txt">Домашнее задание: прочитать параграф 11 и выполнить номера 123, 125, 126, 127, 130(а, в,
            д)</p>
    </div>
</div>
{% for x in range(timetable|length()) %}
<div class="modal fade" id="lessonModal{{x}}" tabindex="-1" aria-labelledby="lessonModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lessonModalLabel">{{timetable[x][0]}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <h6>Преподаватель: {{timetable[x][3]}}</h6>
                <h6>Кабинет: {{timetable[x][2]}}</h6>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ваш профиль</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="profile-modal">
                    <div class="avatar-change mb-3 text-center">
                        <img src="{{url_for('.userava')}}" alt="" class="profile-avatar">
                        <form action="{{url_for('.upload')}}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Загрузить">
                        </form>
                    </div>

                    <div class="mb-3">
                        <p>ФИО:</p>
                        <p>{{ data['surname'] }} {{ data['name'] }} {{ data['patronymic'] }}</p>
                    </div>
                    <hr>
                    <div>
                        <p>Логин: {{data['username']}}</p>
                    </div>
                    <hr>
                    <div class="">
                        <p>Пароль: ***********</p>
                    </div>
                    <hr>
                    <div class="">
                        <p>Почта: {{ data['email'] }}</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-8 offset-2">
                            <a class="btn btn-warning" href="./changes">Внести изменения</a>
                            <a class="btn btn-danger" href="./logout">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('.static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/mainpage.js')}}"></script>
</body>
</html>
