{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles_for_users.css')}}">
<h1>{{title}}</h1>

<div class="mt-3 mb-3">
    <a href="./list-lesson" class="btn btn-primary">Список уроков</a>
    <a href="#" class="btn btn-secondary">Создать урок</a>
</div>
<form action="./create-lesson" method="POST">
    <div class="mb-3">
        <label for="lesson" class="form-label">Урок, который хотите создать</label>
        <input type="text" class="form-control" id="lesson" aria-describedby="emailHelp" name="lesson">
        <button type="submit" class="mt-3">Создать</button>
    </div>
</form>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash mt-3 {{cat}}">{{msg}}</div>
{% endfor %}

{% endblock %}
