{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}

<h1>{{title}}</h1>
<div class="list-user">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Школа</th>
            <th scope="col">Класс</th>
            <th scope="col">Уроки</th>
        </tr>
        </thead>
        <tbody>
        {% for p in list %}
        <tr>
            <td>{{p.id}}</td>
            <td>{{ p.school }}</td>
            <td>{{p.grade}}</td>
            <td>{{p.lessons}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
