{% extends 'admin/base_admin.html' %}

{% block content %}
{{ super() }}

<h1>{{title}}</h1>

<form action="./remake-user" method="POST">
    <input type="text" class="form-control" aria-describedby="emailHelp"
           value="{{data.username}}" name="username">
    <input type="text" class="form-control" aria-describedby="emailHelp"
           value="{{data.email}}" name="email">
    <input type="text" class="form-control" aria-describedby="emailHelp"
           value="{{data.group_id}}" name="group_id">
    <button type="submit" class="btn btn-primary">Изменить</button>
</form>

{% endblock %}