html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}


/*=============================form====================================*/

textarea {
    min-height:100px !important;
    max-height:100px;
}

/*=============================footer==================================*/
footer {
    background-color: #000;
}

footer .row h2 {
    color: #fff;
    font-size: 15px;
}
