body {
    background: url("images/background.jpg");

}
a {
    text-decoration: none;
}
.wrapper {

}

.mainmenu  li {
    float: left;
    margin: 18px 40px 0 50px;
}
.mainmenu ul {
    list-style: none;
    background: white;
    height: 70px;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    overflow: hidden;
    float: left;
}

.mainmenu a {
    color: black;
}
.mainmenu a:visited{
    color: black;
}

.mainmenu a:hover{
    color: blue;
}

.loggined {
    background: white;
    height: 60px;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    overflow: hidden;
}
.loggined  li {
    float: right;
    list-style-type: none ;
    margin: 18px 40px 0 50px;

}
#name {
    color: black;

}
#logo {
    font-size: 150%;
}