#third_button {
    background: #cccccc;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}


.mark_in {
    margin-top: 40px;
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.mark_in ul {
    /*width: 70%;*/
    /*background-color: cyan;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*height: 300px;*/

}
.mark_in li {
    list-style-type: none;
    float: left;
    font-size: 45px;
    margin-right: 10px;
    margin-left: 20px;
    border-color: #0000CC;
    border-style: solid;
    width: 50px;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    background-color: white;
}


.les {

    margin-left: 30%;
    float: left;
}
.sred {
    text-align: right;
    margin-right: 20%;
}

.content {
    text-align: center;
}