html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}


/*===========================header==============================*/
.avatar:hover {
    cursor: pointer;
}

nav {
    background-color: #ffffff;
    height: 60px;
}

header .navbar .container-fluid {
    padding: 0;
    background-color: #eeeeee;
}

header {
    height: 60px !important;
}

.navbar .container-fluid img {
    margin-right: 30px;
}

/*.avatar {*/
/*    border-radius: 50%;*/
/*    height: 60px;*/
/*    width: 60px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-left: 20px;*/
/*}*/

.navbar .container-fluid svg {
    position: relative;
    top: 12px;
}

.navbar .container-fluid ul.collapse-left li {
    margin-right: 30px;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    justify-content: center !important;
}

.nav-item {
    display: flex;
}

header {
    margin-bottom: 50px;
}

.container-fluid {
    height: 60px;
}

.avatar-img {
    position: relative;
    right: -15px;
    background-position: center center;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin: 0;
    border-radius: 50%;
    border: 1px solid black;
}

/*=================================date-bar======================================*/

.bell {
    color: #999;
}

.bell:hover {
    color: #444;
    cursor: pointer;
}

.date_bar {
    background-color: #dddddd;
}

.bar {
    background-color: #ffffff;
    border-radius: 3px;
}

/*.wrap .date_bar .container button {*/
/*    width: 60px;*/
/*}*/
.wrap .date_bar .container .day-week {
    margin-right: 2px;
}

.wrap .date_bar .container button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap .date_bar .container .second-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.wrap .date_bar .container button {*/
/*    margin: 0 3px;*/
/*    border-radius: 5px;*/
/*}*/

.calendar form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.calendar p {
    margin: 3px;
}

.date-submit {
    margin-top: 3px;
}

section.date_bar {
    margin-bottom: 30px;
}

/*================================lesson=====================================*/
.lessons {
    background-color: #cccccc;
}

.lessons .lesson-table .row {
    display: flex;
    justify-content: space-between;
}

section.lessons .lesson-table .lesson-info {
    background-color: #fff;
    border: 1px solid #000;
}

section.lessons .lesson-table .lesson-info .les-num {
    display: flex;
    flex-direction: row;
}

section.lessons .lesson-table .lesson-info .les-num span {
    margin: 3px;
}

section.lessons .lesson-table .lessons-menu .lesson-info {
    margin-bottom: 20px;
    border-radius: 5px;
}

section.lessons .lesson-table .lessons-menu .lesson-info:hover {
    cursor: pointer;
}


section.lessons .lesson-table .lessons-menu {
    padding-top: 10px;
}

section.lessons .lesson-table .col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}

/*=================================footer=====================================*/

footer {
    background-color: #000;
}

footer .row a i {
    font-size: 32px;
}

/*=================================media======================================*/
@media screen and (max-width: 992px) {
    .navbar {
        padding: 0 !important;
    }

    .container-fluid .notCollapseSecond .navbar-nav {
        flex-direction: row !important;
        margin-left: 30px;
    }

    .container-fluid .navbar-collapse li {
        transition: background-color .3s;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }

    .container-fluid .navbar-collapse li:hover {
        background-color: #aaa;
    }

    .navbar .container-fluid ul.collapse-left li {
        margin-right: 0;
    }

    .container-fluid {
        z-index: 9;
    }

    .inactive {
        display: none !important;
    }

    .date_bar .row {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .date_bar .calendar {
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .container-fluid {
        height: 76px;
    }
}

@media screen and (min-width: 992px) {
    .navbar .container-fluid .active {
        background: #cccccc;
        border-radius: 20px;
        padding-bottom: 0;
    }

    .navbar .container-fluid .active h5 {
        position: relative;
        top: -3px;
    }

    .navbar .container-fluid .collapse .navbar-nav {
        justify-content: center;
        align-items: center;
    }
}

/*==========================modal&tooltip====================================*/

.modal .modal-content .modal-body .mark {
    background-color: #00cc00;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #000000;
}

.profile-form {
    width: 100%;
}

.profile-modal .avatar-change button {
    position: relative;
    z-index: 11;
    top: -20px;
    right: -400px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    height: 48px;
    width: 48px;
}

.profile-avatar {
    background-position: center center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.cross {
    position: absolute;
    left: 94%;
    top: 3%;
    padding: 20px;
    border: solid #FFFFFF 2px;
    border-radius: 3px;
}

.modal_les {
    width: 350px;
    padding: 5px;
    position: fixed;
    top: 12%;
    left: 40%;
    background-color: #333333;
    border-radius: 10px;
    visibility: hidden;
}

.mod_body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.l_mark {
    position: relative;
    list-style-type: none;
    float: left;
    font-size: 45px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    border-style: solid;
    width: 50px;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    background-color: white;
}

.l_mark_area {
    width: 100%;
    height: 75px;
}

.txt {
    font-size: 15px;
    text-align: left;
    margin: 3px;
    color: #FFFFFF;
}

.break {
    color: #FFFFFF;
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 2px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}
