* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 7%;
    width: 100%;
    flex: 0 0 auto;
    background-color: black;
}
.page {
    flex: 1 0 auto;
    width: 100%;
    height: 100%;
}
.header {
    height: 10%;
    width: 100%;
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    font-size: 150%;
    padding: 1%;
}
.content {
    height: 100%;
    margin-top: 5%;
    width: 100%;
    background-color: #AEFFC5;
}
.footer p {
    color: white;
}
.mainmenu {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    width: 60%;
    height: 150%;
    justify-content: space-between;
}

.loggined {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}