#second_button {
    background: #cccccc;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}

#timetable {
    table-layout: fixed;
    background-color: #ece9e0;
    width: 100%;
    border-collapse: separate;
    height: 30%;
    color: black;
    border-spacing: 5px;
}
#timetable tr{
    font-size: 18px;
    padding: 10px;
}
#timetable td {

    background: #f5d7bf;
    font-size: 18px;
    padding: 10px;
}
#table_word {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}