<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>

    <link rel="icon" type="image/png" sizes="96x96" href="../static/css/images/favicon-96x96.png">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fontello.css">
    <link rel="stylesheet" type="text/css" href="../static/css/styles_for_login.css">
</head>
<body>

<section class="login-form">
    <form action="">
        <div class="container">
            <div class="row">
                <div class="col-4 offset-4 login-window">
                    <div class="choosing">
                        <div class="login text-center">
                            <a href="#" class="choosing-btn">Вход</a>
                            <hr class="bottom-choosing">
                        </div>
                        <div class="register text-center">
                            <a href="#" class="choosing-btn">Регистрация</a>
                            <hr class="bottom-choosing d-none">
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="identification-form" class="login-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd"
                                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </label>
                        <input type="text" id="identification-form" class="login-input" placeholder="Логин или почта">
                    </div>
                    <div class="mb-2">
                        <label for="password-form" class="form-label">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z"/>
                            </svg>
                        </label>
                        <input type="password" class="login-input" id="password-form" placeholder="Пароль">
                    </div>
                    <div class="mb-5">
                        <input class="form-check-input" type="checkbox" value="" id="sessionCheckbox">
                        <label class="form-check-label" for="sessionCheckbox">
                            Запомни меня
                        </label>
                    </div>
                    <div class="mb-4 text-center">
                        <button class="login-button">Авторизоваться</button>
                    </div>
                    <hr>
                    <p class="forgot-pas text-center">Забыли пароль?</p>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>
