<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main_bar.css')}}">

        <div class="header">
            <div class="mainmenu">

            <ul>
                <li id="logo"><b>ЭЖД</b></li>
                <li><a href="/" id = 'first_button'>Главная страница</a></li>
                <li><a href="/lessons" id = 'second_button'>Расписание</a></li>
                <li><a href="/marks" id = 'third_button'>Успеваемость</a></li>
            </ul>
            </div>

            <div class="loggined">
                <ul>
                    <li><a href="/logout" id="logout">Выйти</a></li>
                    <li id="name">{{ name }} {{ surname }}</li>
                </ul>
            </div>
        </div>
