<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЭЖД</title>
    <link rel="icon" type="image/png" sizes="96x96" href="../static/css/images/favicon-96x96.png">
    <link rel="stylesheet" type="text/css" href="../static/css/styles_for_newmain.css">

</head>
<body>

<div class="wrapper">
    <div class="page">
        <div class="header">
            <div class="mainmenu">
                <p id="logo"><b>ЭЖД</b></p>
                <a href="/" id = 'first_button'>Главная страница</a>
                <a href="/lessons" id = 'second_button'>Расписание</a>
                <a href="/marks" id = 'third_button'>Успеваемость</a>
            </div>

            <div class="loggined">

                <p id="name">Сергей Стерлягов</p>
                <a href="/logout" id="logout">Выйти</a>

            </div>
        </div>
        <div class="content">
            <p>abc</p>
        </div>
    </div>

    <div class="footer">
        <hr>
        <p>&copy; Все права защищены.</p>
        <p><a href="https://vk.com/seriogatrash"><img src="../static/css/images/vk.png" width="30px" height="30px" alt="Пример"></a></p>
        <p>Версия журнала 0.0.1</p>
    </div>
</div>
</body>
</html>