<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЭЖД</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_for_marks.css')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/css/images/favicon-96x96.png">
</head>
<body>
<div class='wrapper'>
    <div class="page">
{% include 'main_bar.html' %}

        <div class="content">
                    <div id = "l_info" class="mod_body">
                    <a class = "mod_body" onclick="hide_l()"></a>
                    <div id = "l_info_cont" class = "modal_les">
                       <svg class = "cross" onclick="hide_l()" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="10" x2="10" y2="0" stroke-width="2" stroke="white"/><line x1="0" y1="0" x2="10" y2="10" stroke-width="2" stroke="white"/></svg>
                       <p class = "txt">Тема урока: десятичные дроби</p>
                       <hr class = "break">
                       <p class="txt">Оценки за урок:</p>
                       <ul class = "l_mark_area">
                             <li class = "l_mark" class = "tip" data-text = "контрольная работа 11.03.2022">5{{l_mark}}</li>
                       </ul>
                       <hr class = "break">
                       <p class="txt">Домашнее задание: прочитать параграф 11 и выполнить номера 123, 125, 126, 127, 130(а, в, д){{hometask}}</p>
                    </div>
                    </div>
                    {% for lesson in lessons %}
                    <div class="mark_in">

                        <h1 class="les">{{ lesson }}</h1>
                        <h1 class="sred">{{ sred[lesson] }}</h1>
                        <button id = "but" onclick="show()">marks</button>
                        <br>
                        <div id = "m_info" class="mod_body_m">
                        <a class = "mod_body" onclick="hide()"></a>
                        <ul id = "content" class="modal">
                            <div class = "sub">Оценки по предмету {{lesson}}</div>
                            <svg class = "cross" onclick="hide()" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0" y1="10" x2="10" y2="0" stroke-width="2" stroke="white"/>
                            <line x1="0" y1="0" x2="10" y2="10" stroke-width="2" stroke="white"/>
                            </svg>
                           {% for mark in marks[lesson] %}
                             <li class = "tip" data-text = "контрольная работа 11.03.2022">{{mark}}</li>
                           {% endfor %}
                        </ul>
                        </div>
                    </div>
            {% endfor %}
        </div>

    </div>
{% include 'footer.html' %}

</div>
</body>
</html>
