html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #eee;
    flex-direction: column;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}



/*==================================flash===========================*/
.flash {padding: 10px;}
.flash.success {
         border: 1px solid #21DB56;
         background: #AEFFC5;
}
.flash.error {
         border: 1px solid #FF4343;
         background: #FF9C9C;
}