<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ЭЖД</title>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/styles_for_homework.css')}}">
</head>
<body>
<div class="wrap">
    <header>
        <nav class="navbar navbar-expand-lg bg-light p-0">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <img src="{{url_for('.static', filename='images/logo.png')}}" alt="logo">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark" aria-current="page" href="./mainpage">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark" href="./marks">Выставление оценок</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark active" href="#">
                                Домашнее задание
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="notCollapseSecond order-lg-1">
                    <ul class="navbar-nav right-nav">

                        <li class="nav-item">
                            <div class="avatar text-center" data-bs-toggle="modal" data-bs-target="#profileModal">
                                <img src="{{url_for('.userava')}}" alt="" class="avatar-img">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="data_buttons">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="heading">Выставление оценок {{grade}} по {{lesson}}</h2>
                </div>
            </div>
            {% for x in range(dates| length()) %}
            <div class="row modalBtn">
                <div class="col-12">
                    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#HomeworkModal{{x}}">
                        {{dates[x]}}
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% for x in range(dates| length()) %}
<div class="modal fade" id="HomeworkModal{{x}}" tabindex="-1" aria-labelledby="modalHead{{x}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="modalHead{{x}}">Выставление домашнего задания на {{dates[x]}} по
                    предмету: {{lesson}}</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="./homework" enctype="multipart/form-data" method="post">
                    <input type="hidden" value="{{dates[x]}}" name="secret_date">
                    <div class="form-floating">
                        <textarea class="form-control" id="floatingTextarea2" name="com"></textarea>
                        <label for="floatingTextarea2">Домашнее задание</label>
                    </div>

                    <label for="lessons" class="form-label">Файл с прикрепляемым заданием</label>
                    <input id="lessons" type="file" name="file" class="form-control mb-3">

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endfor %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 pb-1 pt-1 text-center">
                <h2>Все права защищены</h2>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ваш профиль</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="profile-modal">
                    <div class="avatar-change mb-3 text-center">
                        <img src="{{url_for('.userava')}}" alt="" class="profile-avatar">
                        <form action="{{url_for('.upload')}}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Загрузить">
                        </form>
                    </div>

                    <div class="mb-3">
                        <p>ФИО:</p>
                        <p>{{ data['surname'] }} {{ data['name'] }} {{ data['patronymic'] }}</p>
                    </div>
                    <hr>
                    <div>
                        <p>Логин: {{data['username']}}</p>
                    </div>
                    <hr>
                    <div class="">
                        <p>Пароль: ***********</p>
                    </div>
                    <hr>
                    <div class="">
                        <p>Почта: {{ data['email'] }}</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-8 offset-2">
                            <a class="btn btn-warning" href="/change/">Внести изменения</a>
                            <a class="btn btn-danger" href="./logout">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{{url_for('.static', filename='js/bootstrap.bundle.min.js')}}"></script>

</body>
</html>
