<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ЭЖД</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('.static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/styles_for_marks.css')}}">
</head>
<body>
<div class="wrap">
    <header>
        <nav class="navbar navbar-expand-lg bg-light p-0">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <img src="{{url_for('.static', filename='images/logo.png')}}" alt="logo">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark" aria-current="page" href="./mainpage">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark active" href="#">Выставление оценок</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark" href="./homework">
                                Домашнее задание
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="notCollapseSecond order-lg-1">
                    <ul class="navbar-nav right-nav">
                        <li class="nav-item">
                            <div class="avatar text-center" data-bs-toggle="modal" data-bs-target="#profileModal">
                                <img src="{{url_for('.userava')}}" alt="" class="avatar-img">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="table table-dark table-hover table-bordered text-center">
                        <thead>
                        <tr>
                            <th scope="col">ФИО учеников</th>
                            {% for date in dates %}
                            <th scope="col">{{date}}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for x in range(student_name| length()) %}
                        <tr>
                            <th scope="row">{{student_name[x]}}</th>
                            {% for y in range(dates| length()) %}
                            <th scope="row">
                                <button type="button" class="btn" data-bs-toggle="modal"
                                        data-bs-target="#markModal{{x}}{{y}}">
                                    <span class="mark">{{marks[student_id[x]][y]}}</span>
                                </button>
                            </th>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 pb-1 pt-1 text-center">
                <h2>Все права защищены</h2>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Ваш профиль</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="profile-modal">
                    <div class="avatar-change mb-3 text-center">
                        <img src="{{url_for('.userava')}}" alt="" class="profile-avatar">
                        <form action="{{url_for('.upload')}}" method="post" enctype="multipart/form-data">
                            <input type="file" name="file">
                            <input type="submit" value="Загрузить">
                        </form>
                    </div>

                    <div class="mb-3">
                        <p>ФИО:</p>
                        <p>{{ data['surname'] }} {{ data['name'] }} {{ data['patronymic'] }}</p>
                    </div>
                    <hr>
                    <div>
                        <p>Логин: {{data['username']}}</p>
                    </div>
                    <hr>
                    <div class="">
                        <p>Пароль: ***********</p>
                    </div>
                    <hr>
                    <div class="">
                        <p>Почта: {{ data['email'] }}</p>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-8 offset-2">
                            <a class="btn btn-warning" href="/change/">Внести изменения</a>
                            <a class="btn btn-danger" href="./logout">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% for x in range(student_name| length()) %}
{% for y in range(dates| length()) %}
<div class="modal fade" id="markModal{{x}}{{y}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Оценка за {{dates[y]}} число ученику {{student_name[x]}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="./marks" method="post">
                    <input type="hidden" value="{{student_id[x]}} {{dates[y]}}" name="hid">
                    <label for="mark">Оценка, которую вы хотите выставить</label>
                    <select class="form-select mb-3" id="mark" name="mark">
                        <option selected></option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="coefficient">Причина выставления оценки</label>
                    <select class="form-select mb-3" name="coefficient" id="coefficient">
                        <option selected></option>
                        <option value="1">Работа на уроке</option>
                        <option value="2">Самостоятельная работа</option>
                        <option value="3">Контрольная работа</option>
                        <option value="4">Полугодовая работа</option>
                    </select>
                    <label for="comment">Комментарий к оценке</label>
                    <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Поставить</button>
                </form>
                <form action="./marks" method="post">
                    <input type="hidden" value="{{student_id[x]}} {{dates[y]}}" name="hid">
                    <button type="submit" class="btn btn-danger" value="1" name="delete">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endfor %}

<script src="{{url_for('.static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>
